body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*add background color to the nav bar*/
.navbar{
    background-color:#A8C170; 
    color:#000;
    font-color: fff;
   
}
/*all images are trimmed in black and grey border*/
img {
    padding: 5px;
    background-color: #fff;
}
/*add pink background and black border and italic font*/
.poem {
    padding: 5px;
    border: 5px solid #021a40;
    background-color: #A8C170;
    font-style: italic;
}

.jumbotron {
    background-color: #CBDF9A;
    
}

.button {
    background-color: #CBDF9A;
}
 #Logo {
     height: 100%;
     margin-top: -3px;
     margin-right: 5px;
 }
