
@{
    ViewBag.Title = "Share";
}

<h2>Index</h2>

<div id="formSection">
    <h3>@ViewBag.TheMessage</h3>
    <form method="post" id="contactForm">
        <textarea name="message" id="message" maxlength="500" data-bind="value:message, valueUpdate:'input'"></textarea>
        <input type="submit" value="send"/>
        <span data-bind="text:charactersRemaining"></span> characters remaining
    </form>
    
</div>



@section scripts{

<script src="~/Scripts/knockout-3.4.0.debug.js"></script>
<script>
    function ContactViewModel() {
        var self = this;
        self.message = ko.observable('');
        self.charactersRemaining = ko.computed(function () {
            return 500 - self.message().length;
        })
    }
    ko.applyBindings(new ContactViewModel());
</script>

<script>
    $('contactForm').submit(function () {
        $('#progress').show();
        $.post('', { message: $('#message').val() });
    })
</script>
    }