@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>sHe Ministries was established in January 2015 by Merideth Elliot. This group is about women fellowshiping together and encouraging one another in the walk of faith, through all trials and tribulations of life.We study the word of God together and offer each other understanding through discussion.</p>

<div class="grouping">
    <ul>
        <h3>Winter</h3>
        <li>Book?</li>
        <h3>Fall</h3>
        <li>Armor of God by Priscilla Shirer</li>
        <a href="http://www.lifeway.com/Keyword/armor+of+God+by+priscilla+shirer">Purchase</a>
        <img src="~/images/Armor-of-God.jpg" alt="USB 9781430040279">
        <h3>Spring</h3>
        <li>Seamless by Angie Smith</li>
        <a href="http://www.lifeway.com/Keyword/seamless+by+angie+smith">Purchase</a>
        <img src="~/images/seamless.jpg" alt="USB 97814300323304">
        <h3>Summer</h3>
        <li>What would you like to read this summer?</li>
    </ul>
</div>