@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>These are the books that have been studied at sHe Ministries to date!</p>

<p>sHe Ministries was established in January 2015 by Meredith Elliott. This group is about women fellowshiping together and encouraging one another in the walk of faith, through all trials and tribulations of life.We study the word of God together and offer each other understanding through discussion.</p>

<div class="grouping">
    <ul>
        <h3>Morgan Compton</h3>
        <img src="~/Content/images/sHe girls/Morgan.jpg">
        <h3>Paula</h3>
        <img src="~/Content/images/sHe girls/Paula.jpg">
        <h3>Sharisma Shavers</h3>
        <img src="~/Content/images/sHe girls/Sharisma.jpg">
        <h3>Jenna Nichole</h3>
        <img src="~/Content/images/sHe girls/Jenna N.jpg">
        <h3>Felicia Mabuza</h3>
        <img src="~/Content/images/sHe girls/me.jpg">
        <h3>Jenna Beck</h3>
        <img src="~/Content/images/sHe girls/jenna b.jpg">
        <h3>Saphace</h3>
        <img src="~/Content/images/sHe girls/Saphace.jpg">
        <h3>Ellen Ricks</h3>
        <img src="~/Content/images/sHe girls/Ellen.jpg">
        <h3>Alexis</h3>
        <img src="~/Content/images/sHe girls/Alexis.jpg">
        <h3>Aimee</h3>
        <img src="~/Content/images/sHe girls/Amy.jpg">
        <h3>Britney</h3>
        <img src="~/Content/images/sHe girls/Britney.jpg">
        <h3>get her name</h3>
        <img src="~/Content/images/sHe girls/girl.jpg">
        <h3>Michelle</h3>
        <img src="~/Content/images/sHe girls/Michelle.jpg">
        <h3>Meredith Elliot</h3>
        <img src="~/Content/images/sHe girls/meredith.jpg">
        <h3>Shelby</h3>
        <img src="~/Content/images/sHe girls/Shelby.jpg">
        
        



        <div class="grouping">
            <ul>
                <h3>Winter</h3>
                <li>A Woman's Heart by Beth Moore</li>
                <a href="http://www.lifeway.com/Product/breaking-free-discover-the-victory-of-total-surrender-paperback-P005018360">Purchase</a>
                <img src="~/Content/images/moore.jpg" alt="0805445528">
                <h3>Fall</h3>
                <li>Armor of God by Priscilla Shirer</li>
                <a href="http://www.lifeway.com/Keyword/armor+of+God+by+priscilla+shirer">Purchase</a>
                <img src="~/Content/images/Armor-of-God.jpg" alt="USB 9781430040279">
                <h3>Spring</h3>
                <li>Seamless by Angie Smith</li>
                <a href="http://www.lifeway.com/Keyword/seamless+by+angie+smith">Purchase</a>
                <img src="~/Content/images/seamless.jpg" alt="USB 97814300323304">
                <h3>Summer</h3>
                <li>What would you like to read this summer?</li>
            </ul>
        </div>
