@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>sHe Ministries was established in January 2015 by Meredith Elliott. This group is about women fellowshiping together and encouraging one another in the walk of faith, through all trials and tribulations of life.We study the word of God together and offer each other understanding through discussion.</p>

<div class="row">
    <div class="col-md-3">
        <h3>Morgan Compton</h3>
        <img src="~/Content/images/sHe girls/Morgan.jpg">
        </div>
        <div class="col-md-3">
        <h3>Paula</h3>
        <img src="~/Content/images/sHe girls/Paula.jpg">
        </div>
        <div class="col-md-3">
        <h3>Sharisma Shavers</h3>
        <img src="~/Content/images/sHe girls/Sharisma.jpg">
        </div>
        <div class="col-md-3">
        <h3>Jenna Nichole</h3>
        <img src="~/Content/images/sHe girls/Jenna N.jpg">
        </div>
        <div class="col-md-3">
        <h3>Felicia Mabuza</h3>
        <img src="~/Content/images/sHe girls/me.jpg">
        </div>
        <div class="col-md-4">
        <h3>Jenna Beck</h3>
        <img src="~/Content/images/sHe girls/jenna b.jpg">
        </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Saphace</h3>
            <img src="~/Content/images/sHe girls/Saphace.jpg">
        </div>
        <div class="col-md-4">
            <h3>Ellen Ricks</h3>
            <img src="~/Content/images/sHe girls/Ellen.jpg">
        </div>
        <div class="col-md-4">
            <h3>Alexis</h3>
            <img src="~/Content/images/sHe girls/Alexis.jpg">
        </div>
        <div class="col-md-4">
            <h3>Aimee</h3>
            <img src="~/Content/images/sHe girls/Amy.jpg">
        </div>
        <div class="col-md-4">
            <h3>Britney</h3>
            <img src="~/Content/images/sHe girls/Britney.jpg">
        </div>
        <div class="col-md-4">
            <h3>get her name</h3>
            <img src="~/Content/images/sHe girls/girl.jpg">
        </div>
        <div class="col-md-4">
            <h3>Michelle</h3>
            <img src="~/Content/images/sHe girls/Michelle.jpg">
        </div>
        <div class="col-md-4">
            <h3>Meredith Elliot</h3>
            <img src="~/Content/images/sHe girls/meredith.jpg">
        </div>
        <div class="col-md-4">
            <h3>Shelby</h3>
            <img src="~/Content/images/sHe girls/Shelby.jpg">
        </div>


        <p>These are the books that have been studied at sHe Ministries to date!</p>

        
            <div class="row">
                <div class="col-md-6">
                        <h3>Winter</h3>
                        <li>A Woman's Heart by Beth Moore</li>
                        <a href="http://www.lifeway.com/Product/breaking-free-discover-the-victory-of-total-surrender-paperback-P005018360">Purchase</a>
                        <img src="~/Content/images/moore.jpg" alt="0805445528">
                    </div>
                <div class="col-md-6">
                    <h3>Fall</h3>
                    <li>Armor of God by Priscilla Shirer</li>
                    <a href="http://www.lifeway.com/Keyword/armor+of+God+by+priscilla+shirer">Purchase</a>
                    <img src="~/Content/images/Armor-of-God.jpg" alt="USB 9781430040279">
                    </div>
                <div class="col-md-6">
                    <h3>Spring</h3>
                    <li>Seamless by Angie Smith</li>
                    <a href="http://www.lifeway.com/Keyword/seamless+by+angie+smith">Purchase</a>
                    <img src="~/Content/images/seamless.jpg" alt="USB 97814300323304">
                    </div>
                <div class="col-md-6">
                    <h3>Summer</h3>
                    <li>Open your Bible by Raechel Myers and Amanda Bible Williams</li>
                    <a href="http://www.lifeway.com/Product/open-your-bible-bible-study-book-P005757875">Purchase</a>
                    <img src="~/Content/images/book.jpg" alt="9781430043317">
                    </div>
                </div>
