@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<body style="background-color:#D8DDE3;">

<address>
    920 Blankenbaker Parkway<br />
    Louisville. KY 40243<br />
    <abbr title="Phone">P:</abbr>
    859-312-4421
</address>

<address>
    <strong>Facebook:</strong><a href="https://www.facebook.com/groups/633517616787084/"> sHe Facebook</a><br />
    <strong>Twitter</strong> <a href="https://twitter.com/meredith_she"> sHe Twitter</a>
</address>

<h3>@ViewBag.TheMessage</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="Send" />
</form>

</body>