
@{
    ViewBag.Title = "Index";
}

<h2>Who is sHe?</h2><center>

<div class="item">
    <pre class="poem">
   sHe is…
    the red-head, the blonde, the brunette… the tall, the short, the
    average… the single, the married, the divorced… the dating, the
    desiring, the satisfied… the new believer, the doubting believer, the
    strong believer… the black, the white, the African, the Latina…
    sHe is…
    the lonely, the heart-broken, the depressed… the content, the
    joyful, the grateful… the shackled, the bound, the miserable… the
    free, the victorious, the overcomer!
    sHe is…
    the mother, the mentor, the leader… the loved, the lover, the
    lovely… the sinful, the forgiven, the pure… the emotional, the calm,
    the tender-hearted… the friend, the sister, the foster mother… the
    angry, the confused, the resentful… the peaceful, the prayer
    warrior, the protector.
    sHe is…
    the studier, the seeker, the searcher… the curious, the hopeful,
    the explainer… the veteran, the summer sister, the fall sister, the
    newest sister, the future sister… the wise, the meek, the faithful… the
    quiet, the outspoken, the absent…
    sHe is…
    the beautiful, the chosen, the pursued… the delivered, the
    redeemed, the called, the equipped… the purposed, the speaker, the
    leader… the singer, the engineer, the teacher… the stay-at-home
    mom, the designer, the foreign language speaker… the working, the
    unemployed, the part-time employee… the wrestling, the hurting, the
    scared… the trusting, the believing, the knowing…
    sHe is…
    in the exact season where God has willed her to be… the social
    butterfly, the homebody… the planner, the spontaneous, the overcommitted…
    the obedient, the holy, the beloved… making disciples,
    sharing her testimony, rising up in victory…
    sHe is…
    a woman who pursues excellence and intentionality in her
    daily walk with Christ and seeks to become like Him through His
    Spirit working within her.As a woman who fears the Lord…
    sHe is…
    Meredith, Ellen, Casey, Aimee, Morgan… Brittany, Amber,
    Kaitlyn, Amanda… Michelle, Saphace, Emily, Sharisma, Felicia,
    Isabel… Shelby, Jenna, Alexis, Jenna, Nancy, Tara…
    sHe is…HIS.
</h3>
